---
import { Image } from 'astro:assets';
import placeholder1 from '../assets/blog-placeholder-1.jpg';
import { localePrefix, withBase } from '../consts';
import type { Post } from '../utils/posts';

interface Props {
	posts: Post[];
}

const { posts } = Astro.props;
---

<section class="flex flex-col md:flex-row sm:justify-between gap-8">
	{
		posts.length > 0 ? (
			posts.map((post) => (
				<div class="flex flex-wrap gap-2">
					<div class="min-h-full">
						<Image
							src={post.data.heroImage ?? placeholder1}
							width={200}
							height={200}
							format="webp"
							class="w-16 h-16 object-cover rounded-full"
							alt={`Cover image for ${post.data.title}`}
						/>
					</div>
					<header class="flex justify-center items-center">
						<a
							class="font-medium hover:underline"
							href={withBase(`${localePrefix(Astro.url.pathname)}/blog/${post.id}/`)}
						>
							{post.data.title}
						</a>
					</header>
				</div>
			))
		) : (
			<span class="text-gray-500">There are no related posts yet. 😢</span>
		)
	}
</section>
