---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<div class="flex justify-start items-center gap-3">
	<span class="inline-block w-4 h-10 rounded-sm bg-indigo-600 dark:bg-indigo-400" aria-hidden="true"></span>
	<h1 class="text-5xl font-bold first-letter:uppercase">{title}</h1>
</div>
